section{
    text-align: center;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 306px;
    margin: 50px auto;
}
.cell{
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0ch 0ch 0ch 1px #333333;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}